
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2 class="text-success">Your record is created successfully.</h2>

<br />
<br />
<h3 class="text-info">Name: @ViewBag.Name</h3>
<h3 class="text-info">Mobile: @ViewBag.Mobile</h3>
<h3 class="text-info">Address: @ViewBag.Address</h3>



